<style>
    .card {
        width: 100%;
        border: none;
        border-radius: 10px;
        height: 25rem;
        background-color: #fff;
    }



    .stats {

        height: 10rem;
        background: #f2f5f8 !important;

        color: #000 !important;
    }

    .articles {
        font-size: 10px;
        color: #a1aab9;
    }

    .number1 {
        font-weight: 500;
    }

    .followers {
        font-size: 10px;
        color: #a1aab9;

    }

    .number2 {
        font-weight: 500;
    }

    .rating {
        font-size: 10px;
        color: #a1aab9;
    }

    .number3 {
        font-weight: 500;
    }
</style>
<div class="container mt-5 d-flex justify-content-center">

    <div class="card p-3">

        <div class="d-flex align-items-center">

            <div class="image">
                <img src="/profile-img/{{user._id}}.jpg" class="rounded" style="width: 20rem;
    height: 21rem;">
            </div>

            <div class="ml-3 w-100">

                <h4 class="mb-0 mt-0" style="font-size: 4rem;font-weight:bolder;">{{user.fullname}}</h4>
                <span style="font-size: 2rem;font-weight:500;">Senior Journalist</span>

                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">


                    <address>
                        <h4>Address</h4>
                        <textarea rows="4" style="" disabled>{{user.address}}</textarea>
                    </address>
                </div>


                <div class="button mt-2 d-flex flex-row align-items-center">

                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button>
                    <button class="btn btn-sm btn-primary w-100 ml-2">Follow</button>


                </div>


            </div>


        </div>

    </div>

</div>


